<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
<!--    Adding a bootstrap for the styling-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
<div id="app">
<!--it will show an error if any-->
    <div id="new-student-form-errors" class="m-2">

        <!-- TODO show errors from form validation -->
<!--        it will show errors in a danger alert-->
        <div v-if="formErrors.length > 0 " class="alert alert-danger">
            <li v-for="error in formErrors">
                {{error}}

            </li>
        </div>
    </div>


    <div id="new-student-form" class="card add-student m-2 p-2">
        <h4 class="card-title">Add new student</h4>
<!--adding an input for the student star id-->
        <div class="form-group mb-3">
            <label for="name">Name</label>
            <!-- TODO v-model newStudentName -->
<!-- we using a vue v-model to bind the stat id           -->
            <input v-model.trim="newStudentName" id="name" class="form-control">
        </div>

        <div class="form-group mb-3">
            <label for="starID">Star ID</label>
            <!-- TODO v-model newStarID -->
            <input v-model.trim="newStarID" id="starID" class="form-control">
        </div>
<!--adding a button to trigger add student function-->
        <!-- TODO v-on:click event handler -->
        <button v-on:click="addStudent" class="btn btn-primary">Add</button>
    </div>

<!--it will show student list in a table-->
    <div id="student-list-table" class="card m-2 p-2">
        <h4 class="card-title">Student List</h4>
        <h5>{{studentCount}} student in class</h5>
        <div id="student-table">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>StarID</th>
                    <th>Present?</th>
                    <th>Delete?</th>
                </tr>
                </thead>

                <tbody>
                <!-- TODO create table rows
                Each row will have a checkbox, bound to the app's data
                When the checkbox is checked/unchecked,
                the student will be signed in/out -->
<!--  looping through the student list and show each student in a row             -->
                <tr v-for="student in sortedStudents" v-bind:class="{present: student.present, absent: !student.present}">
                    <td>{{ student.name }}</td>
                    <td>{{ student.starID }}</td>
                    <td>
<!--  checking for the student presence                      -->
                        <input type="checkbox" v-model="student.present" v-on:change="arrivedOrLeft(student)">
                        <span v-if="student.present" class="mx-3">Here!</span>
                        <span v-else class="mx-3">Not Present</span>
                    </td>
                    <td>
<!--   Adding a delete button                     -->
                        <button v-on:click="deleteStudent(student)" class="btn btn-danger" >
                            <i class="bi bi-trash-fill"></i>Delete
                        </button>
                    </td>

                </tr>

                </tbody>

            </table>
        </div>
    </div>

    <div id="welcome-or-goodbye-message" class="m-2">
<!--it wil  show message when student leaves or arrives-->
        <!-- TODO show a message when student arrives or leaves  -->
        <div v-if="mostRecentStudent.name">
            <div v-if="mostRecentStudent.present" class="alert alert-success">
                Welcome! {{mostRecentStudent.name}}!
            </div>
            <div v-else class="alert alert-info">
                Goodbye! {{mostRecentStudent.name}}, See You Later
            </div>
        </div>

    </div>

</div>

<script>

    const {createApp, ref, computed} = Vue

    createApp({
        setup(){
        //     Creating a reactive  variable data, functions and computed properties
            const newStudentName = ref('')
            const newStarID = ref('')

            // it is sample student list
            const studentList = ref([
                {name: 'A. Student', starID: 'aard78', present: false,},
                {name: 'B. Student', starID: 'aabd54', present: false,},



            ])
            // it will hold the most recent student who arrived or left
            const mostRecentStudent = ref({})


            const formErrors = ref([])
            // adding a new student to the list
            function addStudent() {
                //  it will clear the previous error
                formErrors.value = []
                if (newStudentName.value.length === 0) {
                    formErrors.value.push('Student Name is required')

                }
                if (newStarID.value.length === 0) {
                    formErrors.value.push('Star ID is required')
                }


                if(formErrors.value.length === 0) {
                    let student = {
                        name: newStudentName.value,
                        starID: newStarID.value,
                        present: false
                    }
                    studentList.value.push(student)
                    newStudentName.value = ''
                    newStarID.value = ''
                }
            }
            // it will handle student arrival or leaves
            function arrivedOrLeft(student) {
                // alert(student.name)
                mostRecentStudent.value = student
            }


            // it will delete student from the list
            function deleteStudent(studentToDelete) {
                if(confirm(`Delete $ {studentToDelete} student?`)) {
                const studentListWithOutDeletedStudent = []
                studentList.value.forEach((student) => {
                    if  (student !== studentToDelete) {
                        studentListWithOutDeletedStudent.push(student)


                    }
                })
                studentList.value = studentListWithOutDeletedStudent
                }
            }
            // it will sort the student list in alphabetical order
            const sortedStudents = computed( () =>{

                return studentList.value.toSorted((student1, student2) => {
                   return student1.name.localeCompare(student2.name)
                } )
            })
            // it will compute the number of the student in the list
            const studentCount = computed(() =>{
                return studentList.value.length
            })
            return {
                studentList,
                newStarID,
                newStudentName,
                formErrors,
                mostRecentStudent,


                addStudent,
                arrivedOrLeft,
                deleteStudent,

                sortedStudents,
                studentCount,

            //     it will return reactive data
            }
        }
    }).mount('#app')
    // TODO Vue app

</script>

</body>

</html>
